.contact-layout {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    color : var(--color-text-primary)
}

img {
    transition: transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(1.5);
    /* or some other value */
    transform: scale(1.5);
}

.circle-avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

a {
    font-size: 1.3em;
    color: var(--color-text-primary);
    text-decoration: none;
}

i {
    color: white;
}
