.name {
    font-size: 4.5em;
    color: var(--color-text-primary);
}

.role {
    font-size: var(--fs-heading);
    color: var(--color-text-primary);
}

.description {
    font-size: var(--fs-paragraph);
    line-height: var(--fs-line-height);
    color: var(--color-text-secondary);
}

.cv-link {
    font-size: 1em;
    color: var(--color-text-primary);
    text-decoration: underline;
}