.name {
    font-size: 5em;
    color: var(--color-text-primary);
}

.role {
    font-size: 2em;
    color: var(--color-text-primary);
}

.description {
    font-size: 1.25em;
    line-height: 2em;
    color: var(--color-text-secondary);
}