.name {
    font-size: 5em;
    color: var(--color-text-primary);
}

.role {
    font-size: 2em;
    color: var(--color-text-primary);
}

.description {
    font-size: var(--fs-paragraph);
    line-height: 2em;
    color: var(--color-text-secondary);
}

.cv-link {
    font-size: 1em;
    color: var(--color-text-primary);
    text-decoration: underline;
}