.App {
  background-color: var(--color-bg-primary);
}

.layout-container {
  display: grid;
}

.left-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

@media only screen and (max-width: 1100px) {
  .layout-container {
    grid-template-columns: 1fr;
  }

  .left-section {
      padding: 4em;
    }
  
  .right-section {
      padding: 4em;
    }
}


@media only screen and (min-width: 1100px) {
  .layout-container {
    grid-template-columns: 1fr 1fr;
  }

  .left-section {
      max-height: 100vh;
      padding: 8em;
      position: sticky;
      top: 0;
    }
  
    .right-section {
      padding-top: 8em;
      padding-right: 8em;
      padding-bottom: 8em;
    }
}


