.project-layout {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 1em;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    transition: transform 0.25s ease;
    position: relative;
    z-index: 1;
}

.project-card.darkened {
    filter: brightness(80%);
}

.project-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.project-techstack {
    font-size: var(--color-text-primary);
}

.project-title {
    font-size: var(--fs-heading);
    font-weight: bold;
}

.project-description {
    font-size: var(--fs-paragraph);
    color: var(--color-text-secondary);
}

.project-link {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: var(--fs-paragraph);
    color: var(--color-text-primary);
    text-decoration: none;
}

.link-item:hover {
    filter: opacity(50%);
}